<div class="recipe", id = theRecipes, recipe-name = {{name}}, recipe-time = {{cooktime}}>
    <div class="recipe-contents">
        <div class="recipe-image">
            <img src={{photoURL}} alt={{name}}>
        </div>
        <div class="recipe-info">
              <a class="recipe-name", href = "http://localhost:3000/recipes/{{@index}}">{{name}}</a>
            <br><span class="recipe-time">Cooktime: {{cooktime}} minutes</span>
        </div>
    </div>

</div>
