<div class="recipe", recipe-name = {{name}}, recipe-time = {{cooktime}}>
    <div class="recipe-contents">
        <div class="recipe-image">
            <img src={{imageURL}} alt={{name}}>
        </div>

        <div class="recipe-info">
            <a class="recipe-name", href = "#">{{name}}</a>

            <span class="recipe-time">{{cooktime}}</span>
        </div>
    </div>

</div>