<main class = "recipe-page">
  <div class = "recipeName-container">
      <h2 id = "recipeName">{{name}}</h2>
    </div>

  {{!UNFINISHED Things for the separate pages of each recipe }}
  <div id = "recipeFlex">
    <div class="recipe-page-image-container">
      <img id = "imageScale" src={{photoURL}} alt={{name}}>
    </div>
    <div id = "timeAndInstructions">
      <div class="recipe-page-time-container">
        {{cooktime}} Minutes
      </div>

      <div class="recipe-page-instructions-container">
        {{instructions}}
      </div>
    </div>
  </div>
</main>
